contentPadding = 100px


* 
  margin: 0px 
  padding: 0px 

body
  font: 1em "Helvetica Neue",Arial,Helvetica,sans-serif;
  
  -webkit-font-smoothing: antialiased;

  #header
    position: fixed
    width: 100%
    font-size: 1.5em

    img
      display: inline-block
      float: left
      padding-left: 10px

    #navigation

      ul
        background-color: white

        li 
          margin: 40px 5% 0px 5%

  #content
    font-family: 'Lato', sans-serif;

    section
      padding: 150px
      text-align: center
      clear: both
      overflow: auto

      h2
        font-size: 75px
        font-weight 100
        padding-bottom: 1em

      .statement
        font-size: 25px
        font-weight: 200
        font-family: 'Lato', sans-serif;

    #mission
      padding-top: 230px
      background-color: #00c6d4

    #whatDoWeDo
      background-color: #222
      color: #dbdbdb


      .statement
        font-size: 35px

      .container
        width: 100%
        .item
          display: inline-block
          img
            width: 400px
            height: 300px

    #projects
      .projectList
        text-align: left

        li 
          line-height: 1em
          font-size: 1.8em

    #printers
      ul
        font-size: 30px
        li 
          line-height: 50px

      img
        width: 800px
        height: 800px
      .printerDescription
        font-size: 1.8em
        text-align: left

    #crew
      .person
        display: inline-block
        padding: 25px

        img
          width: 200px
          height: 200px

      background-color: #B5CCFF

    #rates
      ul
        list-style-type: none
      background-color: #EBEBEB

    #priceNote
      background-color: #EBEBEB
      text-align: right
      
  #footer
    text-align: center